<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">

	<springProperty name="LOG_DIR" source="logging.dir"
		defaultValue="logs" />

	<appender name="stdoutFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/stdoutFile.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/stdoutFile.log.%d{yyyy-MM-dd}.%i
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>1</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] %m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %5p [%t] \(%F:%L\) - %m%n
			</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="stdoutFile" />
		<appender-ref ref="stdout" />
	</root>

	<logger name="org.eclipse.jetty.jmx" level="ERROR" />
	<logger name="wzp.moduleExample" level="INFO" />
</configuration>